<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All farms</title>
    <link rel="stylesheet" href="/css/farmStyles.css">
</head>

<body>
    <%=message%>
        <h1>All farms</h1>
        <ul>
            <div class="listItems">
                <%for(let farm of farms){%>
                    <li>
                        <a href="/farms/<%=farm._id%>">
                            <%=farm.name%>
                        </a>
                    </li>
                <%}%>
            </div>
            <div class="addFarm">
                <a href="/farms/new">Add a farm</a>
            </div>
        </ul>
</body>

</html>