<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All farms</title>
    <link rel="stylesheet" href="/css/farmStyles.css">
</head>

<body>
    <%=message%>
        <h1>All farms</h1>
        <ul>
            <div class="listItems">
                <%for(let farm of farms){%>
                    <div class="aFarm">
                        <img style="margin-left: 8px;display: inline;;"
                            src="https://res.cloudinary.com/dnkbv2p12/image/upload/c_scale,h_46,w_98/v1624024149/random/191-1916400_free-berries-png-free-berries-transparent-images-berries_liexnp.jpg">
                        <li>
                            <a href="/farms/<%=farm._id%>">
                                <%=farm.name%>
                            </a>
                        </li>
                    </div>
                    <%}%>
            </div>
            <div class="addFarm">
                <button><a href="/farms/new">Add a farm</a></button>
            </div>
        </ul>
</body>

</html>