<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Farm</title>
</head>
<body>
    <h1>New farms here!!</h1>
    <form action="/farms" method="post">
        <div>
            <label for="fName">Farm's name</label>
            <input id="fName" type="text" name="name" placeholder="Write farm's name">
        </div>
        <div>
            <label for="price">City:</label>
            <input id="price" type="text" name="city" placeholder="Type farm's city">
        </div>
        <div>   
            <label for="eml">Type email</label>
            <input placeholder="example@gmail.com" type="email" id="eml" name="email">
        </div> 
        <button>Submit</button>
    </form>
</body>
</html>